body{
    background-color: beige;
}
.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
    overflow: hidden;
}
.menu li{
    float: left;
}
li a {
    border: 1px solid rgb(250, 249, 249);
    padding: 15px;
    color: white;
    display: block;
    text-decoration: none;
    text-align: center;
}
a.hover{
    
    text-align: center;
}
h1 {
    text-align: center;
}
:active {
    color: blueviolet
}
