body{
    background-color: aqua;
}
.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: azure;
    overflow: hidden;
}
.menu li{
    float: left;
}
.menu li a{
    display: block;
}
li a {
    padding: 15px;;
    color: blueviolet;
    border: 1px solid black
    text-decoration


}